body { background-color:#f54242;
     line-height: 1.88889;
     }
.page-wrapper { 
	background: url(http://csszengarden.com/001/zen-bg.jpg) no-repeat top left; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}
h1 { color: green; }
