
body {
    /* background-color: #FF6347; /* Fond rouge */ 
    margin: 0;
    padding: 20px;
    text-align: center; /* Centre tout le contenu horizontalement */
}

h1 {
    font-size: 2rem;
    color: #800000;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

/* GIF centré */
.gif {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.gif img {
    max-width: 300px; /* Ajuste la taille si nécessaire */
}
